# Local terraform directories
**/.terraform/*
**/environments/test/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Secrete și variabile locale
*.tfvars
*.tfvars.json

# Fișiere de backup
override.tf
override.tf.json
.terraform/
*.tfstate*
*.tfvars
